<%@ Page Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="CatalogAdmin.aspx.cs" Inherits="CatalogAdmin" 
    Title="Untitled Page"  ValidateRequest="False" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <p class="AdminTitle">Catalog Admin </p>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
  <asp:PlaceHolder ID="adminPlaceHolder" runat="server"></asp:PlaceHolder>
</asp:Content>

