﻿

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*-- OVERRIDE --*/
.container
{
    max-width: 940px;
}

.navbar-inner
{
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fafafa;
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    zoom: 1;
    background-image: linear-gradient(to bottom, #02334E, #02334E);
}

.navbar .brand
{
    color: #fff;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 200;
    margin-left: -20px;
    padding: 10px 20px;
    text-shadow: none;
}

/*
ul.nav li.dropdown:hover ul.dropdown-menu
{
    display: block;
}*/

.navbar .nav > li.dropdown
{
    border-left: 1px solid #004A8D;
    border-right: 1px solid #276CAC;
}

.navbar .nav > li.first
{
    border-left: 0 none;
}

.navbar .nav > li.last
{
    border-right: 0 none;
}

.navbar .nav > li > a.dropdown-toggle
{
    background-color: transparent;
    background-repeat: repeat;
    color: #FFFFFF;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: none;
    font-weight: bold;
    background-image: linear-gradient(to bottom, #006ABF, #004187); /* background: -moz-linear-gradient(center top, #006ABF 0px, #004187 100%) repeat scroll 0 0 transparent; */
}

.navbar .nav > li.first > a.dropdown-toggle
{
    border-radius: 3px 0 0 0;
}


.navbar .nav > li.last > a.dropdown-toggle
{
    border-radius: 0 3px 0 0;
}

.navbar .nav > li > a.dropdown-toggle:focus,
.navbar .nav > li > a.dropdown-toggle:hover,
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle
{
    /*background: -moz-linear-gradient(center top, #CDCDCD 0px, #EEEEEE 100%) repeat scroll 0 0 transparent; */
    color: #006ABF;
    text-decoration: none;
    background-image: linear-gradient(to bottom, #CDCDCD, #EEEEEE);
}

.navbar .nav > li > a.open
{
    color: #006ABF;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret
{
    border-bottom-color: #fff;
    border-top-color: #fff;
}

.navbar .nav > li > a
{
    color: #fff;
    float: none;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: none;
}

    .navbar .nav > li > a:hover,
    .navbar .nav > li > a:focus
    {
        color: #fff;
        text-decoration: underline;
        text-shadow: none;
    }

.nav-pills-white
{
    color: white;
    width: 400px;
    list-style: none;
}

    .nav-pills-white li
    {
        float: left;
        padding: 6px;
    }

#ctl00_NavbarHeader_A1
{
    padding-right: 0px;
}

.header-left
{
    width: 248px;
}

.header-right
{
    max-width: 692px;
    height: 152px;
}


.search-box
{
    margin-top: 25px;
    margin-bottom: 26px;
    border-radius: 0 4px 4px 0;
    margin-left: -1px;
}

    .search-box input
    {
        height: 25px;
    }

    .search-box .btn:hover, .search-box .btn:focus
    {
        transition: none;
        background: url("../img/spriteGlobalNavSearch.png") no-repeat scroll -338px 0 transparent;
    }


#appendedInputButton
{
    height: 25px;
    width: 300px;
}

.btn-search
{
    background: url("../img/spriteGlobalNavSearch.png") no-repeat scroll -338px 0 transparent;
    height: 35px !important;
    text-shadow: none;
    margin-left: -3px;
    width: 99px !important;
    text-indent: -9999px;
}

.div-cart
{
    background-color: transparent;
    background-repeat: repeat;
    border-radius: 3px 3px 0 0;
    background-image: linear-gradient(to bottom, #F2AF0C, #EDC100);
}

    .div-cart .cart-image
    {
        color: #003B64;
        display: block;
        font-size: 14px;
        font-weight: 700;
        height: 19px;
        min-width: 50px;
        padding: 12px 17px 10px 13px;
        text-align: center;
    }

    .div-cart .div-cart-img
    {
        margin-top: -2px;
        vertical-align: top;
    }

.section-heading
{
    background-image: url("../img/heading-bg.jpg");
    background-position: center bottom;
    background-repeat: repeat-x;
    border: 1px solid #CCCCCC;
    box-shadow: 0 5px 6px -5px #CCCCCC;
    height: 34px;
    margin: -1px 0 0;
    padding: 0px 0 16px 20px;
    position: relative;
    z-index: 10;
}

    .section-heading.rounded
    {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .section-heading h2
    {
        color: #2E3337;
        font-family: 'Arial Black',Arial,Helvetica,sans-serif;
        font-weight: 900;
        font-size: 14px;
        text-transform: uppercase;
    }

.caption h3
{
    line-height: 12px !important;
    height: 50px;
}

.row-alternate
{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    clear: both;
    margin-bottom: 10px;
    padding: 15px 0;
    position: relative;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 5px 6px -5px #CCCCCC;
    min-height: 400px;
    width: 938px;
}

    .row-alternate .thumbnail
    {
        border: none;
        box-shadow: none;
    }

    .row-alternate .thumbnails
    {
        margin: 15px 15px 5px 15px;
    }

    .row-alternate li
    {
        padding: 5px;
        margin-bottom: 0px;
        border-left: 1px dotted #CCCCCC;
    }

        .row-alternate li.first
        {
            border-left: none;
        }

.row-second
{
    border-top: 1px dotted #CCCCCC;
    margin-top: 25px !important;
}

    .row-second li
    {
        margin-top: 25px;
    }

a.ProductName
{
    color: #003399;
    line-height: 14px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

a.thumbnail-link
{
    min-height: 123px;
    height: 123px;
    display: inline-block;
    width: 277px;
    text-align: center;
}

.bestsellers-price
{
    font-weight: bold;
    color: black;
}

.hero-unit
{
    padding: 0px;
    background: none;
}


.product-title-div
{
    border-bottom: 3px solid #999999;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

h1.product-title
{
    font-size: 22px;
    line-height: 1.35;
    padding: 0 0 5px;
    margin-bottom: 0px;
}

.product-sub-text
{
    font-size: 11px;
    color: black;
}

.product-desc-div
{
    margin-bottom: 30px;
}

.product-img-div
{
    height: 275px;
    text-align: center;
}

    .product-img-div img
    {
        max-height: 275px;
    }


.product-price-div
{
    margin-top: 10px;
}

.product-price
{
    font-size: 26px;
    font-weight: bold;
}

.product-options
{
    background: url("../img/prodDetailSprite.png") no-repeat scroll -546px -25px transparent;
    max-width: 150px;
    list-style: none;
    /*padding-left: 35px;*/
    margin-left: 0px;
}

    .product-options li
    {
        color: #2A4160;
        font-size: 12px;
        font-weight: bold;
        line-height: 22px;
        margin-top: 3px;
        padding-left: 20px;
    }

        .product-options li span
        {
            background-image: url("../img/prodDetailSprite.png");
            float: left;
            height: 22px;
            margin-right: 3px;
            width: 24px;
        }

.freeShipping span
{
    background-position: -287px -35px;
}

.topRated span
{
    background-position: -41px -36px;
}

.topSeller span
{
    background-position: -214px -35px;
}

.product-options li.guaranteePriceMatch span
{
    background: url("../img/prodDetail_IconMatch.png") repeat scroll 0 0 transparent;
}

.product-options li.guarantee span
{
    background: url("../img/prodDetail_IconGuarantee.png") no-repeat scroll 0 0 transparent;
}

span.guarantee-text
{
    background: none !important;
    display: block;
    float: left;
    line-height: 1.1em;
    width: 110px;
}

.product-purc
{
    background-color: #E6E7E8;
    margin-top: 10px;
    margin-bottom: 1px;
}

.product-qty-div
{
    padding: 15px;
    font-size: 12px;
    font-weight: bold;
}

.btn-addcart
{
    padding: 0 8px;
    width: 160px;
    background-color: transparent;
    background-repeat: repeat;
    font-size: 16px;
    font-weight: 700;
    height: 37px;
    line-height: 37px;
    min-width: 160px;
    text-shadow: -1px -1px 0 #000000;
    border: 1px solid #BABABA;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 2px #ECECEC inset;
    cursor: pointer;
    display: inline-block;
    margin: 15px 8px 0 15px;
    padding: 0 8px;
    text-align: center;
    vertical-align: middle;
    background-image: linear-gradient(to bottom, #83B7DB, #003B65); /*background: -moz-linear-gradient(center top, #83B7DB 0px, #2A6BA7 52%, #003B65 100%) repeat scroll 0 0 transparent;*/
}

    .btn-addcart:focus, .btn-addcart:active, .btn-addcart:hover
    {
        background-repeat: repeat;
        background-image: linear-gradient(to bottom, #1D81DD, #00508C);
    }

.product-spec-div
{
    padding: 0px;
}

    .product-spec-div .heading, .product-spec-div .details, .product-spec-div span ul
    {
        padding: 15px;
        font-family: Arial;
    }

    .product-spec-div .heading
    {
        font-size: 18px;
        line-height: 18px;
        padding: 15px 15px 0px 15px;
    }

    .product-spec-div .details
    {
        padding-bottom: 0px;
    }

    .product-spec-div .details, .product-spec-div span ul
    {
        font-size: 13px;
    }

    .product-spec-div span ul
    {
        padding-top: 0px;
    }

        .product-spec-div span ul li
        {
            border: none;
            padding: 0px;
        }

.product-recom-div
{
    margin-top: 20px;
}

.product-recom-header
{
    height: 56px;
    display: block;
    overflow: hidden;
    position: relative;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

    .product-recom-header span
    {
        background: url("../img/also_consider.png") repeat scroll 0 0 transparent;
        background-repeat: no-repeat;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

#product-recom-inner
{
    min-height: initial;
}

.prod-recom-link
{
    display: inline-block;
    height: 40px;
    width: 150px;
}

.prod-recom-link
{
    display: inline-block;
    height: auto;
    width: 150px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    padding: 10px 10px 0px 15px;
}

    .prod-recom-link img
    {
        max-height: 40px;
    }

    .prod-recom-link p
    {
        text-align: left;
        margin-top: 3px;
        margin-bottom: 0px;
    }

.prod-recom-price
{
    margin-top: 0px;
    font-weight: bold;
    font-size: 11px;
    padding-left: 15px;
}

.dropdown-menu
{
    width: 350px;
}

.product-list-view
{
    list-style: none;
    margin-left: 0px;
}

    .product-list-view li
    {
        padding: 30px 12px 15px 12px;
        border-bottom: 2px solid #EEEEEE;
    }

.product-list-image
{
    width: 150px;
    float: left;
    margin-top: 20px;
}

    .product-list-image a
    {
        display: inline-block;
        text-align: center;
        width: 120px;
        height: 46px;
    }

    .product-list-image img
    {
        max-height: 46px;
    }

.product-list-name
{
    margin-bottom: 0px;
}

.product-list-sku
{
    font-size: 11px;
}

.product-list-price
{
    font-weight: bold;
}

    .product-list-price p
    {
        margin-top: 20px;
    }

.product-list-available
{
    background: url("../img/ico-in-stock.gif") no-repeat scroll 0 0 transparent;
    font-size: 12px;
    padding-left: 20px;
    margin-top: 30px;
}

.pagination-div
{
    background: none repeat scroll 0 0 #E5E5E5;
    border: 1px solid #CCCCCC;
}

    .pagination-div .pager
    {
        margin: 0px;
        padding: 10px 25px;
    }

.container-fluid-no-padding
{
    padding: 0px;
}

.nav-category-header
{
    background-color: transparent;
    background-repeat: repeat;
    color: white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 1px solid #CCCCCC;
    box-shadow: 0 5px 6px -5px #CCCCCC;
    margin: -1px 0;
    padding: 0 0 8px 20px;
    position: relative;
    z-index: 10;
    font-weight: bold;
    background-image: linear-gradient(to bottom, #006ABF, #004187);
}

    .nav-category-header p
    {
        font-size: 16px;
        margin-bottom: 0px;
        margin-top: 6px;
    }

.nav-category-body
{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 5px 6px -5px #CCCCCC;
    clear: both;
    margin-bottom: 10px;
    padding: 15px 0;
    position: relative;
    width: 217px;
}

    .nav-category-body ul
    {
        list-style: none;
    }

        .nav-category-body ul li
        {
            padding: 3px 0px;
        }

a.CategorySelected
{
    font-weight: bold;
}

a.CategoryUnselected
{
    font-weight: normal;
}

.shopping-cart-button
{
    margin-top: 16px;
}

.shopping-cart-div
{
    margin-top: 8px;
}

.shopping-cart-header
{
    margin-top: 16px;
}

.shopping-cart
{
    padding-top: 0px;
    min-height: initial;
    padding-bottom: 2px;
}

.shopping-cart-table
{
    text-align: center;
}


    .shopping-cart-table .GridHeader
    {
        background: none;
    }

    .shopping-cart-table th
    {
        color: #666666;
        font-size: 12px;
        overflow: hidden;
        padding-top: 2px;
        position: relative;
        border: none;
        font-family: Arial;
        font-weight: normal;
        text-align: center;
    }

    .shopping-cart-table .GridRow,
    .shopping-cart-table .GridRow td,
    .shopping-cart-table .GridAlternateRow,
    .shopping-cart-table .GridAlternateRow td .shopping-cart th,
    .shopping-cart td
    {
        border: none;
        border-right: none;
        border-bottom: none;
        background: none;
        text-align: center;
        color: black;
        vertical-align: top;
        border-top: 1px solid #999999;
        background-color: white;
    }

    .shopping-cart-table th.shopping-cart-item, .shopping-cart-table td.shopping-cart-item
    {
        text-align: left;
        padding-left: 30px;
    }

.shopping-cart-image
{
    width: 130px;
    padding-left: 30px;
}

.shopping-cart-item
{
    font-weight: bold;
}

    .shopping-cart-item .product-list-name
    {
        margin-top: 10px;
    }

    .shopping-cart-item .product-list-sku
    {
        font-weight: normal;
        color: black;
    }

.shopping-cart-qty
{
    margin-top: 12px;
}

.shopping-cart-price
{
    padding-top: 12px;
}

.shopping-cart-option
{
    margin-bottom: 5px;
}

.shopping-cart-total
{
    min-height: inherit;
    width: auto;
    padding: 15px 15px 6px 15px;
}

.shopping-cart-total-label, .shopping-cart-total-price
{
    font-size: 14px;
    font-weight: bold;
}

.shopping-cart-price-label
{
    padding-right: 15px;
}

.shopping-cart-header
{
    background-color: #264160;
    color: white;
    background-image: none;
}

    .shopping-cart-header h2
    {
        color: white;
        font-family: Helvetica,​Helvetica Neue,​Arial,​sans-serif;
        text-transform: none;
        font-size: 17px;
        font-weight: 700;
        margin: 3px 0px;
        line-height: 17px;
    }

.shopping-cart-header
{
    padding: 10px 0px 2px 15px;
}

.shopping-cart-continue
{
    background: url("../img/continue_shopping.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: transparent;
    cursor: pointer;
    height: 39px;
    margin: 4px 0;
    padding: 0;
    text-indent: -9999px;
    width: 182px !important;
}

.shopping-cart-checkout
{
    background: url("../img/cart_checkout.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 46px;
    left: 4px;
    margin: 0;
    padding: 0;
    position: relative;
    text-indent: -9999px;
    width: 225px !important;
}

.search-title
{
    font-weight: bold;
    font-size: 24px;
    display: block;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid #CCCCCC;
}

.login-list
{
    list-style: none;
    margin-left: 200px;
}

    .login-list li
    {
        border-left: none;
    }

        .login-list li label, .login-list li input, .login-list li span
        {
            float: left;
        }

        .login-list li label
        {
            width: 100px;
            font-weight: bold;
            padding-top: 3px;
            text-align: left;
        }

        .login-list li span
        {
            width: 200px;
            font-weight: bold;
            padding-top: 3px;
            margin-left: 10px;
            text-align: left;
        }

.login-remember-li
{
    padding: 0px 5px !important;
}

.login-list .login-remember
{
    width: 300px;
    margin-top: 0px;
    margin-left: 0px;
}

    .login-list .login-remember input
    {
        margin-right: 12px;
        margin-top: 6px;
    }

    .login-list .login-remember label
    {
        font-weight: normal;
        font-size: 12px;
        width: 200px;
    }

.btn-login
{
    margin-left: 230px;
}

.form-btn-group .btn-primary
{
    margin-right: 10px;
    margin-left: 282px;
}

.user-links-list
{
    color: white;
    padding-top: 10px;
}

    .user-links-list span
    {
        line-height: 15px;
        color: #FFFFFF;
        padding: 10px 15px;
        margin-top: 0px;
        display: block;
    }

    .user-links-list a
    {
        color: #0088CC;
        padding: 0px;
    }

    .user-links-list .dropdown
    {
        border: none !important;
    }

    .user-links-list .dropdown-menu
    {
        width: auto;
    }

.admin-options
{
    padding: 7px !important;
    border-radius: 6px;
}

.table td, .table th
{
    border-right: none;
    border-bottom: none;
}

.order-admin-list
{
    list-style: none;
}

    .order-admin-list li
    {
        padding: 3px 0px;
    }

        .order-admin-list li div
        {
            width: 500px;
            float: left;
        }

        .order-admin-list li span
        {
            float: left;
        }

    .order-admin-list input
    {
        float: left;
        margin: 0px 10px;
    }

    .order-admin-list textarea
    {
        float: left;
        margin: 0px 10px;
        height: 150px;
        width: 350px;
    }

    .order-admin-list input.btn
    {
        margin: 0px;
    }

    .order-admin-list label
    {
        float: left;
        width: 150px;
    }

.order-admin-price
{
    font-weight: bold;
    margin: 0px 10px;
}

.order-admin-buttons
{
    padding-left: 97px;
    max-width: 843px;
}

#reviewsDiv
{
    background-color: #FFFFFF;
    font-size: 12px;
    margin-top: 20px;
    padding-top: 20px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 5px 6px -5px #CCCCCC;
    border: 1px solid #CCCCCC;
    padding-left: 20px;
    padding-right: 20px;
    width: 900px;
}

.review-heading
{
    border-bottom: 10px solid #E1E1E3;
    height: 25px;
    padding-bottom: 4px;
    display: block;
    overflow: hidden;
    position: relative;
}

    .review-heading span
    {
        background: url("../img/prodDetailSectionHeadings.png") 0 -29px no-repeat scroll transparent;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

.review-summary-div p
{
    color: #333333;
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #333333;
    margin-top: 20px;
    padding-bottom: 6px;
}

.review-summary-score-big
{
    border-radius: 3px;
    background-color: #414142;
    color: #FFFFFF;
    padding: 0 6px;
    vertical-align: top;
    background-color: #FF9932;
    font-size: 14px;
    font-weight: bold;
    margin: 0 5px;
    height: 20px;
    line-height: 20px;
}

.review-summary-stars-big
{
    background-image: url("../img/PR_Stars_large.png");
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 0 5px 0 0;
    width: 112px;
}

.star1-big
{
    background-position: 0 -47px;
}

.star2-big
{
    background-position: 0 -93px;
}

.star3-big
{
    background-position: 0 -139px;
}


.star4-big
{
    background-position: 0 -185px;
}


.star5-big
{
    background-position: 0 -230px;
}


.review-summary-stars-small
{
    background-image: url("../img/PR_Stars_small.png");
    height: 16px;
    line-height: 16px;
    width: 83px;
}

.star0-small
{
    background-position: 0 0px;
    margin-top: 3px;
}

.star1-small
{
    background-position: 0 -34px;
}

.star2-small
{
    background-position: 0 -70px;
}

.star3-small
{
    background-position: 0 -106px;
}


.star4-small
{
    background-position: 0 -142px;
}


.star5-small
{
    background-position: 0 -178px;
}

.review-div
{
    margin-top: 30px;
    border-bottom: 1px solid #999999;
    margin-bottom: 30px;
}

.review-cell
{
    border-top: 1px solid #999999;
    padding: 30px 0px;
}

.comments-header
{
    margin-top: 16px;
}

.review-score-small
{
    font-size: 12px;
    padding-left: 10px;
}

#reviewInput
{
    margin-top: 20px;
}

.star-rating-control
{
    margin-left: 10px;
}

.star-rating, .rating-cancel
{
    width: auto !important;
}

.rating-cancel
{
    display: none !important;
}

.edit-product-img
{
    max-width: 150px;
}

.product-admin-list
{
    margin-top: 30px;
}

    .product-admin-list label
    {
        width: 300px;
    }

    .product-admin-list select
    {
        float: left;
        margin-right: 20px;
    }

.product-admin-image
{
    margin-top: 30px;
}
